.header-button {
  text-transform: uppercase;
  border: 2px solid #5555ff;
  border-radius: 15px;
  height: 30px;
  background-color: #002251;
  color: #ffffff;
  width: 170px;
  font-weight: 200;
}

.header-block {
  background-color: #1851a0;
  height: 50px;
}
